<div class="col-md-4">
  <div class="blogitemlist_image">
    <%= image_tag blogpost.blogimage_url.to_s %>
  </div>
  <div class="blogitemlist_title">
    <h3><%= link_to blogpost.title, blogpost %></h3>
  </div>
  <% blogpost.tags.each do |tag| %>
    <div>
      <%= tag.tag_name %><br />
    </div>
  <% end %>
  <div class="blogitemlist_text">
    <p><%= truncate(blogpost.text, length: 300) %><p>
  </div>

</div>
