// Added the minimenu in a different helper for two reasons. I want it to be loaded
// by javascript, so that it one makes teh page havier if people actually use js.
// Furthermore I want it to work with Rails routes and paths instead of hardcoded
// paths (for future safety).

$(document).on('turbolinks:load', function() {
  showMiniMenu();
});

function showMiniMenu() {

  <% url = Marknuiverblog::Application.routes.url_helpers %>

  var $minimenu = $("\
    <div class='dropdownmenu'>\
    <div class='dropitem'>\
      <a href='<%= url.blogposts_path %>'>BLOG</a>\
    </div>\
    <div class='dropitem'>\
      <a href='<%= url.portfolio_items_path %>'>PORTFOLIO</a>\
    </div>\
    <div class='dropitem'>\
      <a href='<%= url.about_path %>'>ABOUT ME</a>\
    </div>\
    <div class='dropitem'>\
      <a href='<%= url.contact_path %>'>CONTACT</a>\
    </div>\
      <div class='dropitem'>\
        <a href='https://www.linkedin.com/in/marknuiver' target='_blank' class='fa fa-linkedin-square'></a>\
        <a href='https://www.facebook.com/nuiver' target='_blank' class='fa fa-facebook-official'></a>\
        <a href='https://twitter.com/marknuiver' target='_blank' class='fa fa-twitter'></a>\
        <a href='https://github.com/nuiver' target='_blank' class='fa fa-github'></a>\
      </div>\
    </div>\
  ");

  $('#dropdown').addClass('hidden').append($minimenu);

};
