<div class="jumbo"></div>

<div class="home-about">
  <div class="about-pic col-md-3 ">
    <%= image_tag "codaisseur-portret-mark-400px.jpg", class: "hidden-xs" %>
  </div>
  <div class="about-text col-md-9">
    <h1>Contact me</h1>
    <p>Zandberglaan 55 <br />
    4818 GJ Breda</p>
    <p>m. 06 - 31 94 33 30</p>
    <a href="mailto:mark@marknuiver.nl">mark@marknuiver.nl</a>
    </div>
</div>
