<div class="home-about">
  <div class="about-pic col-md-3 col-sm-6">
    <%= image_tag "codaisseur-portret-mark-400px.jpg", class: "hidden-xs" %>
  </div>
  <div class="about-text col-md-9 col-sm-6">
    <h1>About me</h1>
    <p>Nihilne te delectat umquam -video, quicum loquar-, te igitur, Torquate, ipsum per se nihil delectat? Atque hoc loco similitudines eas, quibus illi uti solent, dissimillimas proferebas. Aut unde est hoc contritum vetustate proverbium: quicum in tenebris? Quis est tam dissimile homini. Nec vero alia sunt quaerenda contra Carneadeam illam sententiam. Illud quaero, quid ei, qui in voluptate summum bonum ponat, consentaneum sit dicere. Sin tantum modo ad indicia veteris memoriae cognoscenda, curiosorum. Aliter enim explicari, quod quaeritur, non potest. Solum praeterea formosum, solum liberum, solum civem, stultost;\nNec tamen ille erat sapiens quis enim hoc aut quando aut ubi aut unde? Nos commodius agimus. Ratio quidem vestra sic cogit. Quo modo autem optimum, si bonum praeterea nullum est? Ea, quae dialectici nunc tradunt et docent, nonne ab illis instituta sunt aut inventa sunt? Hoc etsi multimodis reprehendi potest, tamen accipio, quod dant. An est aliquid per se ipsum flagitiosum, etiamsi nulla comitetur infamia? Nemo nostrum istius generis asotos iucunde putat vivere.</p>
  </div>
</div>

<div class="home-stack">
  <div class="stack-title col-md-12 ">
    <h1>Stack (build in progress...)</h1>  </div>
  </div>
  <div class="stack-column col-md-2 col-xs-6">
    <div class="stack-circle">
      RUBY
    </div>
  </div>
  <div class="stack-column col-md-2 col-xs-6">
    <div class="stack-circle">
      RAILS
    </div>
  </div>
  <div class="stack-column col-md-2 col-xs-6">
    <div class="stack-circle">
      REACT
    </div>
  </div>
  <div class="stack-column col-md-2 col-xs-6">
    <div class="stack-circle">
      REDUX
    </div>
  </div>
  <div class="stack-column col-md-2 col-xs-6">
    <div class="stack-circle">
      JAVASCRIPT
    </div>
  </div>
  <div class="stack-column col-md-2 col-xs-6">
    <div class="stack-circle">
      WHATEVER
    </div>
  </div>
</div>
