<div class="home-about">
  <div class="about-pic col-md-3 col-sm-6">
    <%= image_tag "codaisseur-portret-mark-400px.jpg", class: "hidden-xs" %>
  </div>
  <div class="about-text col-md-9 col-sm-6">
    <h1>About me</h1>
    <p>After working as a designer for 15 years I decided to change my career path to coding. Every time I worked with developers I realized how much I could like programming. Recently I discovered how much I really love it, when I enrolled in the 2 month ‘bootcamp’ at Codaisseur.</p>
    <p>Obviously I like working on front end development, it has a lot of common ground with graphic design, but during the course I discovered how much back end programming triggers both my logical and my creative skills.</p>
    <p>Learning more about the common practices in the industry was sometimes really an eyeopener: I loved to learn how Agile/SCRUM can boost development. And it’s unbelievable that there is nothing like version management in the design industry.</p>
    <p>The understanding of the languages and tools I learned at Codaisseur combined with the professional skills I acquired earlier in my career could make me a valuable player in your team.</p>
  </div>
</div>

<div class="home-stack">
  <div class="stack-title col-md-12 ">
    <h1>Stack (build in progress...)</h1>
  </div>
  <div class="stack-column col-md-2 col-xs-6">
    <div class="stack-circle">
      RUBY
    </div>
  </div>
  <div class="stack-column col-md-2 col-xs-6">
    <div class="stack-circle">
      RAILS
    </div>
  </div>
  <div class="stack-column col-md-2 col-xs-6">
    <div class="stack-circle">
      REACT
    </div>
  </div>
  <div class="stack-column col-md-2 col-xs-6">
    <div class="stack-circle">
      REDUX
    </div>
  </div>
  <div class="stack-column col-md-2 col-xs-6">
    <div class="stack-circle">
      JAVASCRIPT
    </div>
  </div>
  <div class="stack-column col-md-2 col-xs-6">
    <div class="stack-circle">
      HTML
    </div>
  </div>
</div>
<div class="home-cv">
  <div class="home-cv-left col-md-4">
    <h3>ALSO:</h3>
    <p>NodeJS</p>
    <p>jQuery</p>
    <p>CSS</p>
    <p>git</p>
    <p>SQL</p>
    <p>ES6</p>
    <p>Sketch</p>
    <p>Photoshop</p>
    <p>Illustrator</p>
  </div>
  <div class="home-cv-left col-md-4">
    <h3>AND EVEN:</h3>
    <p>Teamwork</p>
    <p>Creativity</p>
    <p>Love for music</p>
    <p>Sense of humour</p>
  </div>
  <div class="home-cv-right col-md-4">
    <h3>WORK EXPERIENCE IN THE CREATIVE INDUSTRY</h3>
    <h5>Independent graphic designer</h5>
    <h5>Art director magazines</h5>
    <h5>Corporate identity designer</h5>
    <h5>Junior art director</h5>
  </div>
</div>
