/*
*= require_tree .
*= require_self
*/
 /* "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"*/
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";

// font-family: 'Fira Sans', sans-serif;
// font-family: 'Merriweather', serif;
// font-family: 'Fira Mono', monospace;

// General styles
body {
  font-family: 'Fira Sans', sans-serif;
  color: #ffffff;
  background-color: #161616;
  top: 0;
}

a {
  color: #c0a062;
}
a:hover, a:focus {
  text-decoration: none;
  color: #ddc18d;
}
a:visited {
  text-decoration: none;
  color: #ddc18d;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Merriweather', serif;
}

// forms
form input, form textarea {
  color: #dddddd;
  background-color: #444444;
}

// alerts

.alert {
  padding: 0;
  margin: 0;
  border: none;
}
.notice {
  padding: 0;
  margin: 0;
  border: none;
}

// Nav bar
.nav {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 55px;
  margin: 0;
  background-color: rgba(22, 22, 22, 0);
}

.logobar {
  height: 55px;
  padding: 4px 0 0 13px;
}
.name_header {
  margin-left: 25px;
  font-size: 27px;
  position: relative;
  top: -40px;
  left: 75px;
  letter-spacing: 0.03em;
}
.menu {
  font-size: 16px;
}
.menu a {
  color: #ffffff;
}
.menu a:hover, .menu a:focus {
  color: #ddc18d;
}
.menu ul {
  float: right;
  margin: 0;
  height: 55px;
}
.menu li {
  list-style-type: none;
  font-weight: 400;
  letter-spacing: 0.03em;
  display: inline-block;
  margin: 18px 10px;
}
// Jumbo

.jumbo {
  height: 40vh;
  background-image: url("assets/ivy-leaves-background.jpg") no-repeat center;
}
.jumbo img {
  width: 100%;
}
