/*
*= require_tree .
*= require_self
*/
 /* "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"*/
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";

// font-family: 'Fira Sans', sans-serif;
// font-family: 'Merriweather', serif;
// font-family: 'Fira Mono', monospace;

// General styles
body {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 200;
  color: #ffffff;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1a5577+0,689bc1+100 */
  background: rgb(26,85,119); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(26,85,119,1) 0%, rgba(104,155,193,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(26,85,119,1) 0%,rgba(104,155,193,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(26,85,119,1) 0%,rgba(104,155,193,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a5577', endColorstr='#689bc1',GradientType=0 ); /* IE6-9 */
  top: 0;
  min-height: 100vh;

}

a {
  color: #c0a062;
}
a:hover, a:focus {
  text-decoration: none;
  color: #ddc18d;
}
a:visited {
  text-decoration: none;
  color: #ddc18d;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Merriweather', serif;
}

// forms
form input, form textarea {
  color: #dddddd;
  background-color: #444444;
}

// alerts

.alert {
  padding: 0;
  margin: 0;
  border: none;
}
.notice {
  padding: 0;
  margin: 0;
  border: none;
}

// Nav bar
.nav {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 55px;
  margin: 0;
  background-color: rgba(22, 22, 22, 0);
  z-index: 5;
}

.logobar {
  height: 55px;
  padding: 4px 0 0 13px;
}
.logo img {
  height: 40px;
}
.name_header {
  margin-left: 15px;
  font-size: 20px;
  font-weight: 800;
  position: relative;
  top: -31px;
  left: 75px;
  letter-spacing: 0.03em;
}
.minimenu {
  display: none;
}
.menu {
  font-size: 14px;
}
.menu a {
  color: #C0A062;
}
.menu a:hover, .menu a:focus {
  color: #ddc18d;
}
.menu ul {
  float: right;
  margin: 0;
  height: 55px;
}
.menu li {
  list-style-type: none;
  font-weight: 400;
  letter-spacing: 0.03em;
  display: inline-block;
  margin: 18px 10px;
}

@media only screen and (max-width: 991px) {
.menu {
  display: none;
}
.minimenu {
  display: block;
}
.hamburger {
  float: right;
  margin: 15px 0px;
  font-size: 25px;
  color: #C0A062;
}
}
.flash_messages {
  background-color: #C0A062;
}
// Jumbo
.buffer {
  margin-top: 80px;
}
.jumbo {
  height: 50vh;
  overflow: hidden;
  background-image: image-url('designerdev.jpg');
  background-position: center;
  background-size:cover;
}
.jumbo img {
  width: 100%;
}
