
 /* "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"*/
 @import "bootstrap-sprockets";
 @import "bootstrap";

// General styles


// Nav bar
#nav {
  background-color: #dddddd;
  height: 50px;
}

.logo {
  background-color: #eeeeee;
  height: 50px;
}
