<div class="col-md-4">
  <div class="portitemlist_image">
    <%= image_tag portfolio_item.image_url.to_s %>
  </div>
  <div class="portitemlist_title">
    <h3><%= link_to portfolio_item.title, portfolio_item %></h3>
  </div>
  <div class="portitemlist_text">
    <p><%= truncate(portfolio_item.text, length: 300) %><p>
  </div>
  <div>
  <%= link_to 'Edit', edit_portfolio_item_path(portfolio_item) %>
  </div>
</div>
